*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --green: #00474B;
    --lightgreen: #26C2AE;
    --gray: #5E7A7D;
    --light: #F3F9FA;
    --red: #E17457;
}

.flex {
    display: flex;
}

body {
    background-color: #F2F2F2;
    font-family: 'space mono';
    color: var(--gray);
}

.container {
    width: 100%;
}

.container .title {
    width: 87px;
    height: 54px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    background-image: url(assets/logo.svg);
}

.container .box {
    margin: auto;
    width: 375px;
    background-color: var(--white);
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px;
    margin-bottom: 40px;
}

.container .box .left .bill .input,
.container .box .left .people .input {
    width: 311px;
    height: 48px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 32px;
}

.container .box .left .bill .input input,
.container .box .left .people .input input,
.container .box .left .tip .tips input {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 24px;
    text-align: end;
    color: var(--green);
    font-weight: 700;
    background-color: var(--light);
    font-family: 'Space mono';
}

.container .box .left .people .ppl-text {
    display: flex;
    justify-content: space-between;
}

.container .box .left .people .ppl-text :last-child {
    color: var(--red);
}

.container .box .left .tip .tips input {
    width: 148px;
    height: 48px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 16px;
}

.container .box .left .tip .tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.container .box .left .tip .tips button {
    width: 146px;
    height: 48px;
    border-radius: 5px;
    background-color: var(--green);
    border: none;
    margin-top: 16px;
    color: var(--white);
    font-family: "Space mono";
    font-size: 24px;
}

.container .box .right,
.container .box .left {
    width: 327px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.container .box .left .bill h1,
.container .box .left .tip h1,
.container .box .left .people h1,
.container .box .right .amount .text h1,
.container .box .right .amount .price h1 {
    font-size: 16px;
}

.container .box .right .amount .text h1 {
    color: var(--white);
}

.container .box .right .amount .price h1 {
    color: var(--lightgreen);
    font-size: 32px;
}

.container .box .right .amount .text p {
    font-size: 13px;
}

.container .box .right {
    background-color: var(--green);
    border-radius: 15px;
    padding: 24px;
    margin-top: 32px;
}

.container .box .right .amount {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.container .box .right button {
    width: 281px;
    height: 48px;
    background-color: var(--lightgreen);
    color: var(--green);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Space Mono';
}